<form [formGroup] = "orderForm">
    <div class="row order-form-group mb-3">
        <div class="col-md-2 order-form-control">
            <label for="card_id" class="form-label">Card Id</label>
            <input type="text" class="form-control" formControlName = "card_id" step="1" min="1" required [attr.disabled]=true>
        </div>

        <div class="col-md-2 order-form-control">
            <label for="address_id" class="form-label">Address Id</label>
            <input type="text" class="form-control" formControlName = "address_id" step="1" min="1" required [attr.disabled]=true>
        </div>

        <div class="col-md-4 order-form-control">
            <label for="order_time" class="form-label">Order Time</label>
            <input type="text" class="form-control" formControlName = "order_time" required [attr.disabled]=true>
        </div>

        <div class="col-md-2 order-form-control">
            <label for="total" class="form-label">Total</label>
            <input type="number" class="form-control" formControlName = "total" min="0" required [attr.disabled]=true>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div>
    <h3>Contents</h3>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="product_id">
          <th mat-header-cell *matHeaderCellDef> Product Id </th>
          <td mat-cell *matCellDef="let orderItem"> <a routerLink="/products/{{orderItem.product_id}}">{{orderItem.product_id}}</a></td>
          </ng-container>
      
          <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let orderItem"> {{orderItem.quantity}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator  #paginator 
                      [length]="orderItems.length" 
                      [pageSize] = "5" 
                      [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons 
                      aria-label="Select page of orderItems">
      </mat-paginator>
  </div>
</div>

<div *ngIf="order">
  <h3>Links</h3>
  <ul>
      <li *ngFor="let link of order.links"><a routerLink="{{link.href}}">{{link.href}}</a></li>
  </ul>
</div>