#product-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

h1 {
  font-size: xx-large;
}