<div class="w-100 h-100 pb-5">
    <h1 class="text-center">Products</h1>
    <div id = "product-list" class="mb-5">
        <div class="card w-100" *ngFor="let product of products">
            <img class="card-img-top border border-dark" src={{product.img_url}} alt="Card image cap">
            <div class="card-body border border-dark d-flex flex-row justify-content-between">
                <h3 class="card-title align-middle my-auto">{{product.name}}</h3>
                <h4 class="my-auto">${{product.price}}</h4>
                <a routerLink="/products/{{product.product_id}}"><button class="btn btn-primary">View</button></a>
            </div>
        </div>
    </div>
</div>