<h1 class="text-center">Cart</h1>
<div>
    <div class="row">
      <h2 class="col-2">Image</h2>
      <h2 class="col-2">Product Id</h2>
      <h2 class="col-2">Quantity</h2>
      <h2 class="col-2">Price</h2>
      <h2 class="col-2">Update</h2>
      <h2 class="col-2">Delete</h2>
    </div>
    <form [formGroup] = "cartItemForm" *ngIf="cartItems.length > 0 && current_items.length > 0">
      <ng-container formArrayName="current_items">
        <ng-container *ngFor="let itemForm of current_items.controls; let i = index">
          <div class="cart-item-form-row row mb-3" [formGroupName]="i">
            <div class="col-2">
              <img class="w-100" src="{{itemForm.get('img_url')!.value}}" alt="Card image cap">
            </div>

            <div class="col-2">
              <input type="number" class="form-control" formControlName = "product_id" required [attr.disabled]="true">
            </div>

            <div class="col-2">
              <input type="number" class="form-control" formControlName = "quantity" required>
            </div>

            <div class="col-2">
              ${{itemForm.get('price')!.value}}
            </div>
    
            <div class="col-2">
              <button type="button" class="btn btn-secondary" [disabled]="!itemForm.valid" (click)="updateCartItem(i)">Update</button>
            </div>

            <div class="col-2">
              <button type="button" class="btn btn-warning" [disabled]="!itemForm.valid" (click)="deleteCartItem(i)">Delete</button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </form>
    <a routerLink="/checkout"><button class="btn btn-primary btn-block w-50">Proceed to Checkout</button></a>
</div>