<form [formGroup] = "userForm" (ngSubmit)="onSubmit()">
    <div class="row user-form-group mb-3">
        <div class="col-md-5 user-form-control">
            <label for="name" class="form-label">First Name</label>
            <input type="text" class="form-control" formControlName = "first_name" name="first_name" required>
        </div>

        <div class="col-md-5 user-form-control">
            <label for="category" class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName = "last_name" name="last_name" required>
        </div>

        <div class="col-md-2 user-form-control">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Add</button>
        </div>
    </div>
</form>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let user"> <a routerLink="/users/{{user.user_id}}">{{user.user_id}}</a></td>
        </ng-container>
    
        <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.first_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.last_name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  #paginator 
                    [length]="users.length" 
                    [pageSize] = "5" 
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons 
                    aria-label="Select page of users">
    </mat-paginator>
</div>